<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.galp.plugins.management" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Galp - Cordova Plugin Dependency Management</name>
  <description>The plugin for all dependencies managment</description>
  <author>Galp Inc</author>
  
   <dependency id="com.galp.plugins.ar" url="https://github.com/olvrronelio/Cordova-AR-Plugin.git" />
   <!--dependency id="cordova-plugin-file" version=">=7.0.0" /-->
</plugin>